{% extends "base.html" %}

{% block title %} Gerente {% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<header class="p-5 m-5 pb-0">
    <h1 class="text-center">Administración de reservaciones</h1>
</header>

<article>
    <div class="side-adm">
        <div class="sidebar-header">
            <h5>Menú</h5>
        </div>
        <ul>
            <li>
                <a href="#" class="home"><i class="fas fa-home"></i><span class="sidebar-text">Inicio</span></a>
            </li>
            <li class="users">
                <a href="#"><i class="fas fa-user"></i><span class="sidebar-text">Usuarios</span></a>
            </li>
            <li class="zone">
                <a href="#"><i class="fas fa-earth-americas"></i><span class="sidebar-text">Zonas</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-house"></i><span class="sidebar-text">Cabañas</span></a>
            </li>
            <li>
                <a href="{{ url_for('generar_reporte') }}"><i class="fas fa-print"></i><span
                        class="sidebar-text">Imprimir Reporte</span></a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}"><i class="fas fa-right-from-bracket"></i><span
                        class="sidebar-text">Cerrar Sesión</span></a>
            </li>

        </ul>
    </div>
</article>

<article class="p-5 m-5">

    <section class="row">

        <div class="col-8">
            <h2 class="text-center pb-3"> Cabañas </h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">                            
                            <th>Id Cabaña</th>
                            <th>Cabaña</th>
                            <th>Capacidad</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Zona asdasdas</td>
                            <td>Dato 2</td>
                            <td>Dato 3</td>
                            <td>
                                <button type="button" class="btn btn-warning">Modificar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>                                
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-4">

            <h2 class="text-center pb-3"> Información </h2>

            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="table-success">
                                <th>Num. Total de Cabañas</th>
                                <th>Num. Cabañas Ocupadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dato 1</td>
                                <td>Dato 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="text-center pb-3"> Calendario </h2>

            <div class="row">
                <form action="/procesar_formulario" method="post" style="display: flex;">
                    <label for="fecha">
                        <p>Buscar fechas:</p>
                    </label>
                    <input class="form-control" type="date" id="fecha" name="fecha" required style="width: 10rem;">
                    <input class="btn btn-outline-primary" type="submit" value="Enviar">
                </form>
            </div>

        </div>

    </section>

</article>

{% endblock %}